$fa-font-path: "../../jspm_packages/npm/font-awesome@4.6.1/fonts";

@import "../../jspm_packages/npm/font-awesome@4.6.1/scss/font-awesome";
@import "../../jspm_packages/npm/bootswatch@3.3.6/cosmo/variables";
@import "../../jspm_packages/github/twbs/bootstrap-sass@3.3.6/assets/stylesheets/bootstrap";
@import "../../jspm_packages/npm/bootswatch@3.3.6/cosmo/bootswatch";

$body-bg: #f2f2f2;
$mild: #ffdc67;
//$mild: #ffea18;

body {
    padding-top: 65px;
    background-color: $body-bg;
}

h1 {
    margin-bottom: 20px;
    color: #666;
}

.panel-heading h2 {
    margin: 10px 0 15px;
}

.panel-success {
    .toggle-body {
        color: #fff;
    }

    .text-muted {
        color: #ddd;
    }
}

.alert-mild {
    @include alert-variant($mild, $mild, #000);
}

@media (min-width: $screen-sm-min) {
    #left {
        padding-right: 8px;
    }

    #right {
        padding-left: 7px;
    }

    #jump-nav {
        margin-right: 15px;
    }
}

#demographics {
    .fa-ul {
        margin-left: 24px;
    }

    address {
        margin-bottom: 10px;
    }
}

.panel-heading {
    position: relative;

    .toggle-body {
        position: absolute;
        bottom: 11px;
        right: 15px;
    }
}

.panel-heading, .panel-body {
     & > *:last-child {
        margin-bottom: 0;
    }
}

.panel-body > ul:last-child > li:last-child > *:last-child {
    &, #demographics-summary & {
        margin-bottom: 0;
    }
}

.section-icon {
    margin-right: 8px;
}

.section-item-count {
    margin-left: 5px;
    vertical-align: bottom;
}

.panel-default > .panel-heading .badge-muted,
.badge-muted {
  background-color: #bbb;
}
