$fa-font-path: "../../jspm_packages/npm/font-awesome@4.6.1/fonts";
@import "../../jspm_packages/npm/font-awesome@4.6.1/scss/font-awesome";
@import "../../jspm_packages/npm/bootswatch@3.3.6/cosmo/variables";
@import "../../jspm_packages/github/twbs/bootstrap-sass@3.3.6/assets/stylesheets/bootstrap";
@import "../../jspm_packages/npm/bootswatch@3.3.6/cosmo/bootswatch";
@import '../../jspm_packages/npm/dragula@3.7.1/dist/dragula';
$body-bg: #f2f2f2;
$mild: #ffdc67; //$mild: #ffea18;

body {
    padding-top: 65px;
    background-color: $body-bg;
}

h1 {
    margin-bottom: 20px;
    color: #666;
}

.panel-heading h2 {
    margin: 10px 0 15px;
}

.panel {
    .toggle-body {
        z-index: 1;
        color: #000;
    }
}

.alert-info {
    font-size: .94em;
    background-color: #eee;
    padding: 15px;
    color: #666;
}

.document-info {
    font-size: .8em;
    margin-top: -15px;
}

.header-name {

    display: block;
}

.header-small {
   font-size: .8em;
    font-color: #ccc;
}

.header-row {
    margin-bottom: 5px;
    border-bottom: 1px dashed #eee;
    margin: 0 10px 10px 10px;
}
.table-borderless tbody tr td, .table-borderless tbody tr th, .table-borderless thead tr th {
    border: none;
}

.alert-mild {
    @include alert-variant($mild, $mild, #000);
}
@media (min-width: $screen-sm-min) {
    #left {
        padding-right: 8px;
    }

    #right {
        padding-left: 7px;
    }

    #jump-nav {
        margin-right: 15px;
    }
}

#demographics {
    .fa-ul {
        margin-left: 24px;
    }

    address {
        margin-bottom: 10px;
    }
}

.panel-heading {
    position: relative;

    .toggle-body {
        position: absolute;
        bottom: 11px;
        right: 15px;
    }
}

.panel-body,
.panel-heading {
    & > *:last-child {
        margin-bottom: 0;
    }
}

.panel-body > ul:last-child > li:last-child > *:last-child {
    #demographics-summary &,
    & {
        margin-bottom: 0;
    }
}

panel.generic h5 {
  font-weight: bold;
}

.section-icon {
    margin-right: 8px;
}

.section-item-count {
    margin-left: 5px;
    vertical-align: bottom;
}

.badge-muted,
.panel-default > .panel-heading .badge-muted {
    background-color: #bbb;
}

preferences {
    display: block;

    h2 {
        line-height: 44px;
    }
}

preference-section {
    display: block;

    &.gu-mirror {
        cursor: grabbing;
    }
}

.preferences-section {
    cursor: move;
    cursor: grab;
}

.section-toggle {
    cursor: pointer;

    .fa {
        transition: all 0.05s ease;
    }
}
